* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color:grey;
}

body {
	  background-color:#121212;
}

li {
	list-style-type:none;
	margin: 20px 0px;
}

header {
 	border-bottom: 1px solid #434543;
 	background-color: #252625; 
 	padding: 10px;
}

h1 {
	border-bottom:1px solid #9da19d;;
	padding: 0 0 10px 0;
}

button {
	background-color: #22C55E;
	margin: 10px 0;
	padding: 5px 40px;
	color: #121212;
	border: 1px solid #434543;
	text-transform: uppercase;
	width: 100%;
	height: 40px;
}

label {
	text-transform: uppercase;
	font-size: 14px;
	color:#9da19d;
}

input {
	width: 100%;
	height: 40px;
	background-color: #121212;
	border: 1px solid #434543;
	color: #9da19d;
	font-size:16px;
}

input::placeholder {
	color: #9da19d;
	font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
}


footer {
 	border-top: 1px solid #434543;
 	background-color: #252625;
 	font-size: 12px;
}

.logo {
	text-transform: uppercase;
	font-weight: 800;
	color: grey;
	margin-left: 10px;
	background-color: #252625; 
}

.scanner {
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.scanner-box {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 600px;
	padding: 40px;
	background-color: #252625;
	border: 1px solid #434543;
}

.scan-results {
	border-top: 1px solid #434543;
	height: 500px;
}

.results-header {
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 40px 10px 40px;
    border-bottom: 1px solid #434543;
}

.scan-progress {
	display: flex;
    gap: 40px;
    padding: 10px 40px;
    border-bottom: 1px solid #434543;
    font-size: 14px;
}

.placeholder {
    padding: 20px 40px;
    font-size: 14px;
}

.result-row {
    display: flex;
    gap: 40px;
    padding: 10px 40px;
    border-bottom: 1px solid #434543;
    font-size: 14px;
}

.port {
    width: 80px;
}

.service {
    width: 100px;
    color: #22C55E;
}

.time {
    color: #555;
}